*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body{
    padding: 0;
    margin: o;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
}
.bgImage{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background: url('./laptop.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    animation: bg-change 10s linear infinite;
    background-position: center;
}
@keyframes bg-change {
    0%{
        background-image: url(./girl-car.jpg);
    }
    100%{
        background-image: url(./girlvr.jpg);
    }
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.content{
    padding: 2px;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
}
.content h1{
    font-size: 40px;
    margin-bottom: 0;
}
.content h1 span{
    color: rgb(177, 110, 240) ;
}
.content p{
    font-size: 18px;
    width: 60%;
    text-align: center;
    padding-top: 10px;
}
.content button{
    color: #fff;
    border: 2px solid #fff;
   
    font-size: 18px;
    background-color: ;
}
.but{
    width: 180px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid rgb(131, 201, 247);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.but a{
    text-decoration: none;
    color: #fff;
}
.span{
    background:linear-gradient(144deg, rgb(131, 201, 247)0%, rgb(177, 110, 240)100%) ;
    width: 0%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.but:hover , .but a:hover{
    color: black;
    transform: scale(1.1);
    transition: all 0.5s;
    border: none;
}
.but:hover span{
    width: 100%;  
}

/* =========================second section==================== */
h2{
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 30px;
    
     
}
.oppor{
    /* background:  rgb(224, 239, 255); */
    width: 100%;
    padding: 50px 0;
    z-index: -1;
    /* height: 100vh; */
    /* margin-bottom: 100px; */
}
.img-text{
    box-shadow: 0 14px 28px rgb(65, 65, 65),
    0 10px 10px rgb(184, 183, 183);
    /* background:linear-gradient(144deg, rgb(131, 201, 247)0%, rgb(177, 110, 240)100%); ; */
    background: #fff;
    width: 70%;
    height:inherit ;
    
    height: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 30px 80px;
    gap: 40px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.img-text p{
    padding-bottom: 50px;
}
.ops{
    top: 20px;
    gap: 50px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background:  rgb(224, 239, 255);
    width: 80%;
    margin: auto;
    display: flex;
    
    box-shadow: 0 10px 24px rgb(65, 65, 65),
    0 10px 10px rgb(184, 183, 183);
}
button .cols{
    color: rgb(19, 18, 18);
}
button .cols:hover{
    color: black;
}
.ops img{
   width: 70%;
   height: 500px;
   object-fit: contain;
    border-radius: 10px;
}
.ops .contss{
    width:500px;
    text-align: left;
}
.ops .contss h3{
    text-align: center;
    padding:20px 0;
} 
.front{
    margin: 40px auto;
}
.bot{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ====================================slides blogs========= */
.slide-container{
    height: 100vh;
     width: 100%;
     display: flex;
     
     justify-content: center;
     overflow: hidden;
 }
 .img-slider{
     width: 100%;
    
    
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    
 }
 .slide-div{
    box-shadow: 0 10px 24px rgb(65, 65, 65),
    0 10px 10px rgb(184, 183, 183);border-radius: 25px;

     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 30px 0 30px; 
 }
 .card{
     position: relative;
     width: 250px;
     height: relative;

     border-radius: 25px;
     background-color: rgb(224, 239, 255);
 }

 
 
 .img-content, .card-content{
     padding: 10px 14px;
     flex-direction: column;
     display: flex;
     align-items: center;
 
 
 }
 .img-content{
     
     position: relative;
     padding: 25px 0;
     row-gap: 5px;
 }
 .overlayy{
     position: absolute;
     top: 0;
     height: 100%;
     width: 100%;
     left: 0;
     background-color: rgb(131, 201, 247);
     border-radius: 25px 25px 0 25px;
     
 }
 .overlayy::before,
 .overlayy::after{
     content: '';
     position: absolute;
     height: 40px;
     width: 40px;
     right: 0;
     bottom: -40px;
     background-color: rgb(131, 201, 247);
 }
 .overlayy::after{
     border-radius: 0 25px 0 0;
     background-color: rgb(224, 239, 255);
 }
 
 .card-img{
     position: relative;
     height: 150px;
     width: 150px;
 }
 .card-img .imagee{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 50%;
 }
 /* .slide-content{
     margin: 0 40p;
 } */
 .heading{
     font-size: 18px;
     font-weight: 500;
     color: #333;
 }
 .description{
     font-size: 14px;
     color: #707070;
     text-align: center;
 }
 .card-content .butt{
     width: 180px;
     padding: 10px;
     text-align: center;
     margin: 20px;
     border-radius: 25px;
     font-size: 16px;
     font-weight: bolder;
     border: 2px solid rgb(131, 201, 247);
     background: transparent;
     color: #fff;
     cursor: pointer;
     position: relative;
     overflow: hidden;
     transition: all 0.6s ease-in-out;
 }
 .butt a{
     text-decoration: none;
     color: #333;
 }
 .butt:hover{
     background-color: rgb(131, 201, 247);
 }
/* .card-wrapper{
    box-shadow: 0 14px 28px rgb(65, 65, 65),
     0 10px 10px rgb(184, 183, 183);
} */
@media(max-width: 762px){
    .content h1{
        font-size: 28px;
        text-align: center;
        padding:2px;
    }   
    .content p{
        font-size: 14px;
    }
    .front1{
        display: flex;
        flex-direction: column-reverse;
    }
    .front2{
        display: flex;
        flex-direction: column;
    }
    .ops{
        gap: 20px;
        justify-content: center;
        align-items: center;
        /* display: flex;
        flex-direction: column; */
    }
    .ops .contss{
        width: 200px;
        text-align: center;
        margin: auto;
    }
    .ops .img img{
        /* width: 20%; */
        width: inherit;
        justify-self: center;   
    }
    
    .img-text{
       display: flex;
       width: 85%;
       padding: 20px 10px;
       flex-direction: column;
        height: inherit;
    }
    .img-slider{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .slide-container{
        margin: 20px 0 20px 0;
        height: inherit;
    }
}